body {
  background-color: rgb(88, 213, 190);
}
h1 {
  color: brown;
}
h3 {
  color: brown;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
